body {
 
    background-image: url("../img/b.gif");
    background-repeat: repeat;
}
.dropbtn {
    background-color: #0139FC;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #E9AB14}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #000000;

}
.fixed {
background-color: red;
height: 52px;
width: 78px;
position: fixed;
top: 10px;
padding: 5px;

}
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.nigga {
    background-image: linear-gradient(to right, yellow, white, red );
    width: 1500px;
    margin-left: 90px;
}

.hahas {
    
    height: 20px;
}

.fieldset {
    border-style: double;
    border-width: 5px;
}

table, th, td {
   border: 1px solid black;
}